/* tags */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #8f8f8f
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


/* containers */
.container-fluid {
    padding: 7% 15%;
}

/* section */

.coloured-sec {
    background-color: #ff4c68;
    color: #fff;
}

.white-sec {
    background-color: #fff;
}

/* headings */
.big-heading {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

/* nav bar */

.navbar {
    padding: 0 0 10rem 0;

}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: light;

}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

/* download buttons */

.download-btn {
    margin: 5% 3% 5% 0;
}

/* title container */

#title .container-fluid {
    padding: 3% 15% 18%;
    text-align: left;
}

/* tile-image */

.title-img {
    width: 30%;
    right: 25%;
    transform: rotate(25deg);
    z-index: 0;
    position: absolute;
}

@media (max-width:1298px) {

    #title {
        text-align: center;
    }

    .title-img {
        position: static;
        width: 100%;
        transform: rotate(0);
    }
}
g2
/* features */

.feature-boxes {
    padding: 5%;
}

.features-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.features-icon:hover {
    color: #ff4c68;
}

.features-title {
    font-weight: 800;
}

#features {
    position: relative;
}

/* testimonial */

.testmo-image {
    width: 8%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.5;

}

#testimonials {
    background-color: #ef8172;
    position: relative;
}

/* princing */

.price-plan-header {
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.5;
}

.price-plan-value {
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.5;
}

#pricing {
    padding: 100px;
}

.princing-colu {
    padding: 3% 2%;
}

.pricing-title {
    font-weight: 800;
}

.cta-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 1.5;
}

.social-icons {
    margin: 20px 10px;
}


/* press */
.press-logo {
    width: 12%;
    margin: 20px 20px 50px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;

}